$black: rgb(0, 0, 0);
$deep-purple: rgb(33, 30, 60);
$purple: rgb(62, 42, 160);
$yellow: rgb(255, 205, 118);
$yellow-light: rgb(255, 217, 152);
$grey-dark: rgb(114, 107, 133);
$grey: rgb(164, 157, 183);
$grey-light: rgb(232, 232, 248);
$white: rgb(255, 255, 255);
