footer {
  @include flex;
  @include prefix(box-sizing, border-box);
  width: 100%;
  max-width: $content-width;
  padding: $page-padding;
  margin: 0 auto;

  p {
    @include prefix(flex-grow, 0);
    margin: 0;
    font-size: 1.2rem;
    color: $grey-light;

    &:nth-child(2) {
      @include prefix(flex-grow, 1);
      text-align: center;
    }
  }

  a {
    border-bottom-color: rgba($grey-light, 0.33);

    &:hover {
      border-bottom-color: rgba($grey-light, 0.66);
    }
  }

  @media (max-width: $mobile-width) {
    @include prefix(flex-wrap, wrap);

    p {
      @include prefix(flex-grow, 1);
      width: 100%;
      margin-bottom: $page-padding;
      text-align: center;
    }
  }
}
