header.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  @include prefix(box-sizing, border-box);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100px;
  padding: $page-padding;
  padding-right: 0;

  p {
    margin-top: 2.5em;
    @include prefix(animation, fade-in 1s ease-out 1);
  }
}
