header.page-header {
  position: relative;
  z-index: 1;
  padding: $page-padding * 2 $page-padding;
  background-color: $deep-purple;
  color: $grey-light;

  @media (max-width: $tablet-width) {
    padding-top: $page-padding;
  }

  @media (max-width: $mobile-width) {
    padding: $page-padding / 2;
    padding-bottom: $page-padding;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -20vw;
    left: 0;
    width: 100%;
    height: 20vw;
    background-color: $deep-purple;
    @include prefix(clip-path, polygon(0 0, 100% 0, 0 100%, 0 0));
  }

  nav {

    @media (max-width: $tablet-width) {
      @include flex;
      @include prefix(align-items, center);
    }

    .logo,
    .nav-links {
      position: fixed;
      top: 0;
      padding: $page-padding;

      @media (max-width: $tablet-width) {
        position: relative;
        padding: 0;
      }
    }

    .logo {
      left: 0;
      @include prefix(flex-grow, 1);
      @include prefix(flex-shrink, 0);
    }

    .nav-links {
      right: 0;
      @include prefix(flex-grow, 0);
      @include prefix(flex-shrink, 0);

      a {
        border-bottom-color: $grey-dark;
        font-weight: 700;

        &:hover {
          border-bottom-color: $purple;
        }

        + a {
          margin-left: $page-padding;

          @media (max-width: $mobile-width) {
            margin-left: 30px;
          }
        }
      }
    }
  }

  > div {
    @include prefix(box-sizing, border-box);
    display: block;
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
  }

  h1 {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  .get-directions {
    margin-left: 20px;
    font-size: 1.2rem;
    color: $grey;

    &:hover {
      color: $grey-light;
    }

    a {
      border-bottom-color: rgba($grey-dark, 0.33);

      &:hover {
        border-bottom-color: rgba($grey-dark, 0.66);
      }
    }
  }

  .button-yellow {
    margin-top: $page-padding;

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }
}
