footer
  p
    a(href="https://www.sharedesk.net/spaces/view/14842/sharedesk-pty-ltd/") Book a desk
  p
    a(href="mailto:hello@sharedesk.net.au") hello@sharedesk.net.au
  p &copy; Sharedesk Pty Ltd
