header.page-header
  div
    nav
      .logo
        a(href="/")
          include _logo
      .nav-links
        a.underline-link(href="/contact") Contact
        a.underline-link(href="/about") About
      
    h1 Sharedesk co-working & meeting space
    h3 1/10 Williams St, Dayboro Qld
      span.get-directions
        a.underline-link(href="https://www.google.com.au/maps/dir//1%2F10+Williams+St,+Dayboro+QLD+4521/@-27.1969582,152.821344,17z/data=!4m16!1m7!3m6!1s0x6b94078702927165:0x7d9e27ad3801e3d2!2s1%2F10+Williams+St,+Dayboro+QLD+4521!3b1!8m2!3d-27.196963!4d152.8235327!4m7!1m0!1m5!1m1!1s0x6b94078702927165:0x7d9e27ad3801e3d2!2m2!1d152.8235327!2d-27.196963", target="_blank") Get&nbsp;directions
        | &nbsp;&rarr;
    a.button-yellow.button-glow(href="mailto:hello@sharedesk.net.au") Book a desk
