header.page-header
  div
    nav
      a(href="/")
        include _logo
      
    h1 Sharedesk co-working & meeting space
    h3 1/10 Williams St, Dayboro Qld
      span.get-directions
        a.underline-link(href="#", target="_blank") Get&nbsp;directions
        | &nbsp;&rarr;
    a.button-yellow.button-glow(href="#", target="_blank") Book a desk
