header.page-header
  nav
    a(href="/")
      include _logo
      
  div
    h1 Sharedesk co-working & meeting
    h3 1/10 Williams St, Dayboro Qld
    a.button-yellow.button-glow(href="#", target="_blank") Book a desk
