extends layout

block content
  
  article
    table.pricing-table
      thead
        tr
          th Desk
          th Price
      tbody
        tr
          td Casual standup/seated hotdesk
          td $35/day
        tr
          td
            | Private meeting/conference room
            br
            span.grey-text 6-person capacity
          td
            | $35/hour
            br
            | $120/day
        tr
          td Semi-permanent sit-down pods
          td $120/week
    
    p
      em Further enquiries welcome.
    p All desks come with:
    ul
      li WiFi
      li Kitchen facilities
      li Lounge area
      li Locker hire

    p
      a.button-yellow.button-small.button-wide(href="https://www.sharedesk.net/spaces/view/14842/sharedesk-pty-ltd/") View details &amp; book a desk &rarr;

    img(src="/img/sharedesk-01@2x.jpg", alt="Sharedesk standup desk")
    img(src="/img/sharedesk-02@2x.jpg", alt="Sharedesk entry")
    img(src="/img/sharedesk-03@2x.jpg", alt="Sharedesk sit-down pods")
    img(src="/img/sharedesk-04@2x.jpg", alt="Sharedesk meeting room")
    img(src="/img/sharedesk-05@2x.jpg", alt="Sharedesk workspace")
    
    p Any questions? 
      a(href="/contact") Get in touch
