extends layout

block content
  
  article
    h2 Pricing &amp; facilites

    table.pricing-table
      thead
        tr
          th Desk
          th Price
      tbody
        tr
          td Casual standup/seated hotdesk
          td $35/day
        tr
          td
            | Private meeting/conference room
            br
            span.grey-text 6-person capacity
          td
            | $30/hour
            br
            | $65/half-day
            br
            | $110/day
        tr
          td Semi-permanent sit-down pods
          td $550/month

    p All desks come with:
    ul
      li WiFi
      li Kitchen facilities
      li Lounge area
      li Locker hire

    p
      a.button-purple.button-small.button-wide(href="https://www.sharedesk.net/spaces/view/14842/sharedesk-pty-ltd/", target="_blank") View details &amp; book a desk &rarr;

    table.opening-hours
      thead
        tr
          th Opening hours
      tbody
        tr
          td Monday - Friday
          td 9am - 5pm
