extends layout

block content
  
  article
    h2 Our services
    p Semi-permanent & casual shared workspaces
    p Private meeting & conferencing room
    p Workshops &amp; collective hub
    p WiFi &bull; Skype &bull; Office facilities 
