$font: monospace;
$page-padding: 40px;
$radius: 5px;



@import 'lib/normalize';

@import 'global/mixins';
@import 'global/colors';
@import 'global/document';
@import 'global/global';

@import 'components/button';
@import 'components/header';
@import 'components/logo';
