$font: monospace;
$content-width: 600px;
$page-padding: 40px;
$radius: 5px;

$tablet-width: 800px;
$mobile-width: 600px;



@import 'lib/normalize';

@import 'global/mixins';
@import 'global/colors';
@import 'global/document';
@import 'global/global';

@import 'components/button';
@import 'components/content';
@import 'components/footer';
@import 'components/header';
@import 'components/logo';
